[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
coloredlogs = "*"

[dev-packages]
black = "*"
pre-commit = "*"
flake8 = "*"
codespell = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"

[requires]
python_version = "3.8"
