[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
coloredlogs = "*"
boto3 = "*"
boto3-stubs = "*"
mypy-boto3-dynamodb = "*"
mypy-boto3-s3 = "*"
mypy-boto3-sns = "*"
tabulate = "*"

[dev-packages]
black = "*"
pre-commit = "*"
flake8 = "*"
codespell = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
moto = "*"
freezegun = "*"

[requires]
python_version = "3.8"
